/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#sign_in_panel{
  margin-top: 200px;
}

header {
  border-color: #ffffff;
  height: 50px;
  background: #F0F0F0;
  margin-bottom: 10px;
  border-radius: 5px;
    .navbar-inner {
      margin-bottom: -10px;
      font-weight: bold;

      .nav.navbar-nav {
        border-radius: 5px;
        width: 100%;
        background-color: #5bc0de;
        position:relative;
        top:15px;
      }
      .nav > li > a {
        link-padding: 10px 30px;
        background-color: #5bc0de;
        font-size: 18px;
        padding: 10px;
        color: #ffffff;
        border-radius: 5px;

        &:hover {
          color: #ffffff;
          text-decoration: none;
          background: #5bc0de;
        }
      }
    }
}
