/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */
.team_form {
  margin-left: 15px;
  margin-top: 17px;
}

.th_width_20 {
  width: 20%;
}

.th_width_50 {
  width: 50%;
}

.th_width_12 {
  width: 12%;
}

.th_width_32 {
  width: 32%;
}

.th_width_30 {
  width: 30%;
}

.th_width_18 {
  width: 18%;
}

h1, h2, h3, h4 {
  text-align: center;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  color: #0071B5;
}

.header_links {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  margin-left: 5px;
  margin-right: 5px;
}

.link {
  cursor: pointer;
}

.auth_form {
  margin-top: 150px;
  margin-left: 39px;
  width: 80%;
}

#b_sign_in {
  width: 312px;
}

#textarea_team_table {
  height: 70px;
}

.btn.btn-primary {
  margin-top: 10px;
}
