<header>
  <nav class="navbar navbar-info">
    <div class="navbar-inner">
      <ul class="nav navbar-nav">
        <%- if user_signed_in? %>
          <li><%#= link_to "Проекти", projects_path %></li>
          <li><%#= link_to "Клієнти", clients_path %></li>
          <li class="pull-right"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <%- if user_admin? %>
            <li><%= link_to 'Manage users', users_path %></li>
            <li><%#= link_to 'Корстувачі', users_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
